@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Roboto', sans-serif;
}
nav a {
  padding: 10px;
}
.container{
  margin: 20px auto;
  max-width: 1200px;
}

.pagination {
  text-align: center;
}
td, th {
  border: 1px solid #ddd;
  padding: 5px;
}



.google-login-btn {
  padding: 10px 20px;
  background-color: #4285F4;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.google-login-btn:hover {
  background-color: #357ae8;
}

.dashboard {
  padding: 20px;
}

.logout-btn {
  padding: 10px 20px;
  background-color: #db4437;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.logout-btn:hover {
  background-color: #c1351d;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

h1, h2 {
  margin: 26px auto;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
}
p {
  margin: 15px auto;
}

.users-container {
  max-width: 1200px;
  margin: 0 20px;
  text-align: center;
}


.title {
  font-size: 2.5rem;
  margin: 10px auto;
  color: #4A90E2;
}


.users-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}


.user-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.user-card:hover {
  transform: scale(1.05);
}


.user-name {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  margin: 10px auto;
}

.user-email,
.user-phone {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.user-location {
  font-size: 1rem;
  color: #4A90E2;
  text-decoration: none;
  transition: color 0.2s;
}

.user-location:hover {
  color: #003366;
}
.inputfield{
  border: 1px solid #ddd;
}
.counter button {
  margin: 20px;
}
.counter button {
  margin: 20px;
  padding: 10px 30px;
  background-color: #ddd;
  border-radius: 10px;
}



button {
  padding: 10px 20px;
  font-size: 16px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup button {
  margin-top: 20px;
}
.close-btn {
  position: relative;
  margin: 0 !important;
  padding: 0;
  right: 0;
  width: 100%;
  text-align: right;
  top: -12px;
}